
<div *ngIf="apiEndpoints">
    <h2><span jhiTranslate="simpleJhipsterApp.apiEndpoints.detail.title">Api Endpoints</span> {{apiEndpoints.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="simpleJhipsterApp.apiEndpoints.name">Name</span></dt>
        <dd>
            <span>{{apiEndpoints.name}}</span>
        </dd>
        <dt><span jhiTranslate="simpleJhipsterApp.apiEndpoints.environment">Environment</span></dt>
        <dd>
            <span>{{apiEndpoints.environment}}</span>
        </dd>
        <dt><span jhiTranslate="simpleJhipsterApp.apiEndpoints.host">Host</span></dt>
        <dd>
            <span>{{apiEndpoints.host}}</span>
        </dd>
        <dt><span jhiTranslate="simpleJhipsterApp.apiEndpoints.path">Path</span></dt>
        <dd>
            <span>{{apiEndpoints.path}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'api-endpoints/'+ apiEndpoints.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
