

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
        <h4 class="modal-title" id="myApiEndpointsLabel" jhiTranslate="simpleJhipsterApp.apiEndpoints.home.createOrEditLabel">Create or edit a Api Endpoints</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!apiEndpoints.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="apiEndpoints.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="simpleJhipsterApp.apiEndpoints.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="apiEndpoints.name"
            required minlength="1" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                   This field is required to be at least 1 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="simpleJhipsterApp.apiEndpoints.environment" for="field_environment">Environment</label>
            <input type="text" class="form-control" name="environment" id="field_environment"
                [(ngModel)]="apiEndpoints.environment"
            required minlength="2" />
            <div [hidden]="!(editForm.controls.environment?.dirty && editForm.controls.environment?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.environment?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.environment?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 2 }">
                   This field is required to be at least 2 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="simpleJhipsterApp.apiEndpoints.host" for="field_host">Host</label>
            <input type="text" class="form-control" name="host" id="field_host"
                [(ngModel)]="apiEndpoints.host"
            required minlength="1" />
            <div [hidden]="!(editForm.controls.host?.dirty && editForm.controls.host?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.host?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.host?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                   This field is required to be at least 1 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="simpleJhipsterApp.apiEndpoints.path" for="field_path">Path</label>
            <input type="text" class="form-control" name="path" id="field_path"
                [(ngModel)]="apiEndpoints.path"
            required minlength="1" />
            <div [hidden]="!(editForm.controls.path?.dirty && editForm.controls.path?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.path?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.path?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 1 }">
                   This field is required to be at least 1 characters.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
