<div>
    <h2><span jhiTranslate="simpleJhipsterApp.apiEndpoints.home.title">Api Endpoints</span>
        <button class="btn btn-primary float-xs-right create-api-endpoints" [routerLink]="['/', { outlets: { popup: ['api-endpoints-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="simpleJhipsterApp.apiEndpoints.home.createLabel">
            Create new Api Endpoints
            </span>
        </button></h2>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="apiEndpoints">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="simpleJhipsterApp.apiEndpoints.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="environment"><span jhiTranslate="simpleJhipsterApp.apiEndpoints.environment">Environment</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="host"><span jhiTranslate="simpleJhipsterApp.apiEndpoints.host">Host</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="path"><span jhiTranslate="simpleJhipsterApp.apiEndpoints.path">Path</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let apiEndpoints of apiEndpoints ;trackBy: trackId">
                <td><a [routerLink]="['../api-endpoints', apiEndpoints.id ]">{{apiEndpoints.id}}</a></td>
                <td>{{apiEndpoints.name}}</td>
                <td>{{apiEndpoints.environment}}</td>
                <td>{{apiEndpoints.host}}</td>
                <td>{{apiEndpoints.path}}</td>
                <td class="text-xs-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../api-endpoints', apiEndpoints.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'api-endpoints/'+ apiEndpoints.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'api-endpoints/'+ apiEndpoints.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div class="text-xs-center" *ngIf="apiEndpoints && apiEndpoints.length">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
</div>
